footer {
    margin-top: 50vh !important;
    height: 25vh;
    background: #F8F8F8;
}
.contactus{
    color: #8B7BE8;
    font-size: 1.6em;
}
.logoFooter {
    width: 2vw;
    margin-top: 0vh;
    }
